@page "/"
@using YmlEditor.Pages.ModelPage.DeleteDialog
@using YmlEditor.Pages.ModelPage.EditDialog
@inherits IndexView
<PageTitle>YmlEdit</PageTitle>

<button class="btn btn-primary" style="margin-bottom:10px; background-color:peru; border-color:peru" @onclick="(()=>Create())">
    Создать товар
</button>
<button class="btn btn-primary" style="margin-bottom:10px; background-color:peru; border-color:peru" @onclick="(()=>CreateYml(ListModel))">
    Импортировать в YML
</button>

<InputFile id="loaderImage" OnChange="@SaveFiles" multiple />

@* <button @onclick="(()=>ProcessExcelFile())">Заполнить таблицу</button> *@
<br />
<h3 class="text-center text-danger">
    @Error
</h3>

@if (ListModel != null)
{
    <table class="table table-dark">
        <thead>
            <tr>
                <td class="table-dark" scope="col">
                    Категория
                </td>
                <td class="table-dark" scope="col">
                    Идентификатор
                </td>
                <td class="table-dark" scope="col">
                    Название
                </td>
                <td class="table-dark" scope="col">
                    Популярный товар
                </td>
                <td class="table-dark" scope="col">
                    Цена
                </td>
                <td class="table-dark" scope="col">
                    В наличии
                </td>
                <td class="table-dark" scope="col">
                    Количество
                </td>
                <td class="table-dark" scope="col">
                    Фото
                </td>
                <td class="table-dark" scope="col">
                    Описание
                </td>
                <td class="table-dark" scope="col">
                    Короткое описание
                </td>
                <td class="table-dark" scope="col">
                    Ссылка
                </td>
                <td class="table-dark" scope="col">
                    Единицы измерения
                </td>
                <td scope="col">
                    Редактировать
                </td>
                <td scope="col">
                    Удалить
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in ListModel)
            {
                <tr class="table-dark">
                    <td>@product.Category</td>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.PopularProduct</td>
                    <td>@product.Price</td>
                    <td>@product.InStock</td>
                    <td>@product.Count</td>
                    <td>@product.Picture</td>
                    <td>@product.Description</td>
                    <td>@product.ShortDescription</td>
                    <td>@product.Url</td>
                    <td>@product.Units</td>
                    <td>
                        <button class="btn btn-primary" style="margin-bottom:10px;background-color:peru;border-color:peru" @onclick="(()=>Edit(product))">
                            Редактировать
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-primary" style="margin-bottom:10px;background-color:peru;border-color:peru" @onclick="(()=>DeleteItem(product))">
                            Удалить
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}





<style>
    .table-border {
        border-radius: 5px;
        border: 1px solid #000;
        display: block;
        width: 80%;
    }
</style>

@if (Model != null && EditModel.DialogIsOpen)
{
    <EditIndex ViewModel="EditModel" Save="Save" />
}
@if (isDel && Model != null)
{
    <DeleteIndex isOpenDelete="isDel" Delete="Delete" />
}